  <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Create Date</th>
      <th>Due Date</th>
    </tr>
    <tr *ngFor="let task of tasks">
      <td>{{task.id}}</td>
      <td>{{task.name}}</td>
      <td>{{task.createDate | date}}</td>
      <td>{{task.dueDate | date}}</td>
    </tr>
  </table>
  <button (click)="previousClicked()" [disabled]="paged.from==0">Previous</button>
  <button (click)="nextClicked()" [disabled]="(paged.from + paged.size) > total">Next</button>

  total: {{total}}
